<div>
  <table>
    <tr><td>POST</td><td><strong>{{.}}/documents/new</strong></td></tr>
    <tr><td>GET</td><td><strong>{{.}}/documents/</strong>:id</td></tr>
    <tr><td>PUT</td><td><strong>{{.}}/documents/</strong>:id</td></tr>
    <tr><td>DELETE</td><td><strong>{{.}}/documents</strong>:id</td></tr>
  </table>
</div>